
body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #1e1e1e;
	line-height: 24px;
}
a {
	text-decoration: none!important;
}

.footer p{
	text-align: center;
	padding: 100px;
}

.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;
}
.section-heading .line-dec {
	width: 30px;
	height: 5px;
	background-color: #cea9cf;
}
.section-heading h1 {
	font-size: 22px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
}


/* Banner Style */
.banner {
	margin-top: 50px;
	background-image: url(../images/banner-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px;
	background-position: center center;
}
.banner .caption {
	background-color: rgba(250,250,250,0.9);
	padding: 30px;
	max-width: 450px;
}
.banner .caption h2 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 700;
	color: #1e1e1e;
}
.banner .caption .line-dec {
	width: 30px;
	height: 5px;
	background-color: #cea9cf;
}
.banner .caption p {
	margin-top: 15px;
	margin-bottom: 20px;
}



/* Featured Page Style */
.featured-page {
	margin-top: 30px;
	margin-bottom: 40px;
}
.featured-page .section-heading {
	margin-top: 0px;
	margin-bottom: 0px;
}
.featured-page #filters {
	margin-top: 15px;
	text-align: right;
}
.featured .featured-stitch {
	margin-bottom: 30px;
	text-decoration: none;
}
.featured .featured-stitch h4 {
	transition: all 0.5s;
	font-size: 20px;
	color: #1e1e1e;
}
.featured .featured-stitch:hover h4 {
	color: #1e1e1e;
}
#filter button {
	outline: none;
}

/* login Page Style */
.register-form h1 {
	text-align: center;
	color: #caacca;
	font-size: 24px;
	padding: 100px 0 20px 0;
}

/* login Page Style */
.login-form {
	width: 500px;
	margin: 0 auto;
}
.login-form h1 {
	text-align: center;
	color: #caacca;
	padding: 100px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	box-sizing:border-box;
}
.login-form input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #fff7e2;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	color: #1e1e1e;
}
.login-form button {
	width: 100%;
	padding: 15px;
	background-color: #cea9cf;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	color:#1e1e1e;
}
.login-form h2 {
	text-align: center;
	color: #da5656;
}


/* Register Page Style */
  .register-form {
	width: 500px;
	margin: 0 auto;
	font-family: Tahoma, Geneva, sans-serif;
}
.register-form h1 {
	text-align: center;
	color: #caacca;
	font-size: 24px;
	padding: 100px 0 20px 0;
}
.register-form input[type="password"],
.register-form input[type="password2"],
.register-form input[type="email"],
.register-form input[type="text"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
}
.register-form input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #cea9cf;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	color: #1e1e1e;
}
.register-form button {

	width: 100%;
	padding: 15px;
	background-color: #fff7e2;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	color:#1e1e1e;
}